---
import Default from '@astrojs/starlight/components/SocialIcons.astro';
---

<span data-social-icons-wrapper>
  <Default><slot /></Default>
</span>

<script>
	document.querySelectorAll('[data-social-icons-wrapper] a').forEach(link => {
		link.setAttribute('target', '_blank');
		link.setAttribute('rel', 'me noopener noreferrer');
	});
</script>
