:root[data-theme='light'] {
  --sl-color-accent-low:  #e4d3ed;
  --sl-color-accent:      #522D65;
  --sl-color-accent-high: #3a1f48;

  --sl-color-gray-1: #474C54;
  --sl-color-gray-2: #5e636e;
  --sl-color-gray-3: #787d87;
  --sl-color-gray-4: #999DA7;
  --sl-color-gray-5: #bfc1c8;
  --sl-color-gray-6: #e2e3e6;
  --sl-color-gray-7: #f4f4f5;
}

:root[data-theme='dark'] {
  --sl-color-accent-low:  #3a1f48;
  --sl-color-accent:      #9b6cb8;
  --sl-color-accent-high: #e4d3ed;

  --sl-color-gray-1: #e2e3e6;
  --sl-color-gray-2: #bfc1c8;
  --sl-color-gray-3: #999DA7;
  --sl-color-gray-4: #787d87;
  --sl-color-gray-5: #5e636e;
  --sl-color-gray-6: #32363d;
  --sl-color-gray-7: #22252a;
}
